*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: brown;
}
div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
div ul{
    display: flex;
    border-bottom: 5px solid black;

}
div ul li{
    width: 50px;
    height:50px;
    background-color:#000;
    list-style: none;
    margin: 0px 10px;
    border-radius: 50%;
    animation: bouncing 1s  linear infinite .5s;
}
@keyframes bouncing {
    0%{
transform: translateY(0);
    }
    50%{
transform: translateY(-200%);
    }
    100%{
        transform: translateY(0);
    }
}
    ul li:nth-child(1){
        animation-delay: 0.2s;
        background-color: green;
    }
    ul li:nth-child(2){
        animation-delay: 0.4s;
        background-color: chocolate;
    }
    ul li:nth-child(3){
        animation-delay: 0.6s;
        background-color: cyan;
    }
    ul li:nth-child(4){
        animation-delay: 0.2s;
        background-color: darkorchid;
    }
    ul li:nth-child(5){
        animation-delay: .4s;
        background-color: hotpink;
    }
